<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ov.mapper.UserCoterieMapper">

    <resultMap id="BaseResultMap" type="com.ov.pojo.UserCoterie">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="coterieId" column="coterie_id" jdbcType="BIGINT"/>
            <result property="role" column="role" jdbcType="TINYINT"/>
            <result property="joinTime" column="join_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,coterie_id,
        role,join_time,update_time
    </sql>
</mapper>
